:root {
    --red: rgba(255 0 0 / 1);
    --header-colour: #131515;
    interpolate-size: allow-keywords;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: var(--header-colour);
    padding-inline: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
}

#logo-link {
    display: block;
}

#logo {
    width: 6em;
}

a {
    color: #E8E9F3;
    text-decoration: none;
}

i {
    margin-inline: 0.2em;
}

li {
    list-style-type: none;
}

nav {
    transition: height 500ms ease-in;
}

.nav-item > a {
    transition: visibility 1s ease-in;
}

#navigation-menu > li {
    position: relative;
}

.dropdown-menu-container {
    display: none;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    background-color: var(--header-colour);
}

.nav-item:has(.submenu):hover .dropdown-menu-container {
    display: block;
}

li > a:hover {
    opacity: 0.8;
}

li > a:not(.submenu-links) {
    font-size: clamp(1rem, 6vw, 1.2rem);
}

/* HAMBURGER */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background-color: var(--red);
}

/* MEDIA QUERIES: 280px, 576px, 768px, 992px, 1200px */
@media (width >= 280px) {
    header {
        flex-wrap: wrap;
    }

    nav {
        order: 2;
        width: 100%;
        overflow-y: hidden;
        height: 0;
    }

    nav .nav-item > a {
        visibility: hidden;
    }

    nav.active {
        height: auto;
    }

    nav.active .nav-item > a {
        visibility: visible;
    }

    #navigation-menu > li {
        display: block;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 1.5em 0;
    }

    /* HAMBURGER */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* SUBMENU */
    .submenu {
        padding: 0;
    }
    
    .submenu > li {
        margin-bottom: 1em;
        text-align: center;
    }
}

@media (width >= 992px) {
    header {
        flex-wrap: nowrap;
    }

    nav {
        width: auto;
        order: 1;
        overflow-y: visible;
        height: 0;
        padding-bottom: 5.5em;
    }

    nav .nav-item > a {
        visibility: visible;
    }

    #navigation-menu > li {
        display: inline-block;
        width: auto;
        margin: 0;
    }

    #navigation-menu > li:not(:last-child) {
        margin-right: 2.2em;
    }

    /* HAMBURGER */
    .hamburger {
        display: none;
    }

    .nav-item:has(.submenu):hover .dropdown-menu-container {
        position: absolute;
    }

    .submenu {
        padding: 1em;
    }
}