:root {
    --red: rgba(255 0 0 / 1);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #131515;
    padding-inline: 2em;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: #E8E9F3;
    text-decoration: none;
}

img {
    width: 6em;
}

i {
    margin-inline: 0.2em;
}

li {
    list-style-type: none;
}

#navigation-menu {
    background-color: #131515;
}

#navigation-menu > li {
    position: relative;
}

.dropdown-menu-container {
    display: none;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}

.nav-item:has(.submenu):hover .dropdown-menu-container {
    display: block;
    background-color: #131515;
}

li > a:hover {
    opacity: 0.8;
}

li > a:not(.submenu-links) {
    font-size: clamp(1rem, 6vw, 1.2rem);
}

/* HAMBURGER */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background-color: var(--red);
}

/* MEDIA QUERIES: 280px, 576px, 768px, 992px, 1200px */
@media (width >= 280px) {
    #navigation-menu {
        position: absolute;
        overflow: hidden;
        right: 100%;
        height: 0;
    }
    /* Prevent user from toggling through links when hamburger is closed */
    #navigation-menu.active .nav-item > a {
        visibility: hidden;
    }
    #navigation-menu.active {
        right: 0;
        top: 10%;
        width: 100%;
        height: auto;
    }
    /* Allow user to toggle through links */
    #navigation-menu.active .nav-item > a {
        visibility: visible;
    }
    #navigation-menu > li {
        display: block;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 1.5em 0;
    }
    /* HAMBURGER */
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /* SUBMENU */
    .submenu {
        padding: 0;
    }
    .submenu > li {
        margin-bottom: 1em;
        text-align: center;
    }
}

@media (width >= 992px) {
    #navigation-menu {
        position: static;
        overflow: visible;
        height: initial;
    }
    /* Restore to default */
    .nav-item > a {
        visibility: visible;
    }
    #navigation-menu > li {
        display: inline-block;
        width: fit-content;
        margin: 0;
    }
    #navigation-menu > li:not(:last-child) {
        margin-right: 2.2em;
    }
    /* HAMBURGER */
    .hamburger {
        display: none;
    }
    .nav-item:has(.submenu):hover .dropdown-menu-container {
        position: absolute;

    }
    .submenu {
        padding: 1em;
    }
}