:root {
    --black: #131515;
    --white: #E8E9F3;
    --blue: #37718E;
    --pure-black: #000;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 1800px;
}

.content-container { /* Used to center the content */
    transition: margin 1s ease-in;
    max-width: 1400px;
}

button {
    line-height: 1.5;
    padding: 0.8em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px var(--pure-black);
    font-size: clamp(1rem, 6vw, 1.1rem);
}

h2 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    margin-bottom: 2em;
}

/* HEADER */
header {
    display: flex;
    justify-content: start;
    box-shadow: 1px 1px 10px var(--pure-black);
}

#logo {
    width: 6em;
}

/* HERO */
#hero-container {
    display: flex;
    margin-top: 2.5em;
    padding-bottom: 3em;
}

h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    text-wrap: balance;
}

#hero-container > div:first-child {
    padding: 2em 1.2em;
    color: var(--white);
}

#mission-para {
    text-wrap: balance;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 2em;
}

#hero-btn-container {
    margin-top: 4em;
}

#hero-btn-container > button {
    background-color: var(--white);
    transition: background-color 500ms ease-in-out;
}

#hero-btn-container > button:hover {
    background-color: var(--blue);
}
 
#hero-img {
    aspect-ratio: 4 / 3;
    border-radius: 10px;
    transition: width 1s;
}

/* SERVICES */
section[aria-labelledBy="services-heading"] {
    background-color: var(--white);
    padding: 4em 0;
}

/* See w3schools flip card */
.flip-card {
    perspective: 1000px;
    aspect-ratio: 4/3;
    transition: width 1s;
}

.flip-card-inner {
    position: relative;
    transition: transform 0.6s;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: var(--blue);
}

.flip-card-back > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.8;
    font-size: clamp(1rem, 6vw, 1.5rem);
    text-align: center;
    color: var(--white);
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    place-items: center;
    margin: 10em 0;
}

.services-img {
    width: 100%;
    height: 100%;
}

#service-btn-container {
    margin-top: 5em;
    text-align: center;
}

#service-btn-container > button {
    background-color: var(--black);
    color: var(--white);
    transition: all 500ms ease-in-out;
}

#service-btn-container > button:hover {
    background-color: var(--blue);
}

/* CLIENTS */
section[aria-labelledBy="client-section"] {
    background-color: var(--black);
    color: var(--white);
    padding: 6em 0;
}

#testimonials-container {
    display: flex;
    justify-content: space-around;
}

#testimonials-container > div {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 1.4em;
    box-shadow: 5px 5px 10px var(--pure-black);
    line-height: 1.4;
    font-size: clamp(1rem, 6vw, 1.1rem);
}

.client-review::before {
    content: '"';
}

.client-review::after {
    content: '"';
}

.client-name {
    margin-top: 2em;
}

.client-name::before {
    content: "- ";
}

/* FOOTER */
footer {
    padding: 1.4em 1em;
    background-color: var(--white);
}

/* Wrap in media query to make sure that it only applies when the user preference allows motion */
@media (prefers-reduced-motion: no-preference) {
    section[aria-labelledBy="services-heading"],
    section[aria-labelledBy="client-section"] {
        opacity: 0;
        scale: 0.8;
        animation: fade-in linear forwards;
        /* View - when the element enters the viewport */
        animation-timeline: view();
        /* Section to start animating when they are 5px away from the bottom of the viewport */
        /* Finish animation when they are 30% away */
        animation-range: 5px 30%;
    }

    @keyframes fade-in {
        to {
            opacity: 1;
            scale: 1;
        }
    }
}

/* MEDIA QUERIES: 280px, 576px, 768px, 992px, 1200px */
@media (width >= 280px) {
    .content-container {
        margin-inline: 1em;
    }

    /* HERO */
    #hero-container {
        flex-direction: column;
    }

    #hero-container > div:last-child {
        display: none;
    }

    /* SERVICES */
    #grid-container {
        row-gap: 5em;
    }

    .flip-card {
        width: 15em;
    }

    /* CLIENTS */
    #testimonials-container {
        flex-direction: column;
        row-gap: 5em;
    }
}

@media (width >= 768px) {
    .content-container {
        margin-inline: 2.5em;
    }

    /* SERVICES */
    #grid-container {
        gap: 4em;
    }

    /* CLIENTS */
    #testimonials-container {
        flex-direction: row;
        row-gap: 0;
        column-gap: 2em;
    }
}

@media (width >= 1200px) {
    .content-container {
        margin-inline: 4em;
    }

    /* HERO */
    #hero-container {
        flex-direction: row;
    }

    #hero-img {
        width: 38em;
    }

    #hero-container > div:last-child {
        display: block;
    }

    /* SERVICES */
    .flip-card {
        width: 20em;
    }
}

@media (width >= 1400px) {
    #hero-img {
        width: 45em;
    }
}