:root {
    --white: #E8E9F3;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding-block: 2em;
    padding-inline: 0;
    background-color: #03091e;
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 2200px;
}

h1 {
    text-align: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    max-width: 1200px;
    margin-block: 0;
    margin-inline: auto;
}

#grid-container > div {
    padding-block: 2em;
    padding-inline: 1.5em;
    position: relative;
}

div:has(img) {
    overflow: hidden;
}

img {
    transition: transform 1s ease-in-out;
}

img:hover {
    transform: scale(1.2);
}

div.text-div {
    margin-block-end: 2.5em;
}

button {
    line-height: 1.5;
    padding-block: 0.5em;
    padding-inline: 1em;
    border-start-start-radius: 10px;
    cursor: pointer;
    background-color: rgba(40 56 170 / 0.8);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 1s;
    box-shadow: 1px 1px 3px #000;
    /* Ensures that button position will always  */
    /* be the same as other buttons in other containers */
    position: absolute;
    bottom: 0;
}

button:hover {
    background-color: rgba(0 15 129 / 1);
}

/* MEDIA QUERIES: 280px, 576px, 768px, 992px, 1200px */
@media (width >= 1200px) {
    #grid-container {
        row-gap: 4em;
    }

    /* Hide border for top 3 items */
    #grid-container > div:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
        border-block-start: 1px solid rgba(181 181 181 / 1);
    }
}