:root {
    --red: rgba(255 0 0 / 0.8);
    --black: #000;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    max-width: 2200px
}

body, main {
    margin: 0 auto;
}

#form-container {
    width: fit-content;
    margin: 0 auto;
}

button {
    line-height: 1.5;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--black);
    cursor: pointer;
}

input {
    padding: 0.5em;
    border-radius: 10px;
    margin: 2em 0;
}

details {
    width: fit-content;
}

.question-answer-container {
    padding: 1.5em;
}

.question-answer-container {
    box-shadow: 1px 1px 2px inset var(--black), 1px 1px 2px var(--black) ;
}

p {
    line-height: 1.4;
}

#no-match-container {
    color: var(--red);
    display: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

/* MEDIA QUERIES: 280px, 576px, 768px, 992px, 1200px */
@media (width >= 280px) {
    main {
        width: 100%;
    }
}

@media (width >= 768px) {
    main {
        width: 60%;
    }
}